<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Список продуктов </title>
</head>
<body>
<table>

    <body>
    <h1>Products List</h1>

    <div th:each="p : ${products}">
        <span th:text="${'ID ' + p.getId() + '. Title: ' + p.getTitle + ' cost: '+ p.getCost}"/><br>
        <a th:href="@{'/products/' + ${p.id}}">Информация о товаре</a>
        <br>
    </div>
    <br>
    <br>
    <a th:href="@{'/products/show_form'}">Добавить товар</a>
    </body>

</table>
</body>
</html>